@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #4B4453;
    scroll-behavior: smooth;
}

body {
    background-color: beige;
    min-height: calc(100vh - 4rem);
    width: 100%;
}

nav {
    background-color: aliceblue;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 1em;
    z-index: 100;
}

.navLink {
    margin-left: auto;
    display: flex;
    height: 100%;
    align-content: center;
}

.navLink a {
    padding-inline: 1rem;
    align-content: center;
    font-weight: 400;
    font-size: 1.5rem;
    height: 100%;
}

.navLink a:hover, .active {
    color: darkcyan;    
    background-color: lightblue;
    transition: ease-in 0.1s;
}

main {
    background-color: beige;
    padding: 0 12rem 0rem 12rem;
    gap: 2rem;
    min-height: 100vh;
}

#groupName {
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
}

#courses {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#courses h1 {
    font-size: 4rem;
    text-align: center;
    margin-block: 2rem;
    align-content: center;
}

.courseContainer {
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-template-rows: auto auto auto;
}

.tutorial {
    border-radius: 1rem;
    background-color: blanchedalmond;
    width: auto;
    height: auto;
    font-size: 1rem;
    padding: 1em;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.button {
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 100%;
    height: 3em;
    background-color: cyan;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: steelblue;
    color: #fff;
}

#groupIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    text-align: start;
}

#groupIntro h1 {
    font-size: 4rem;
    margin-block: 2rem;
    width: 50%;
}

#groupIntro p {
    font-size: 1.25rem;
    width: 50%;
}

#groupObj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    text-align: end;
}

#groupObj h1 {
    font-size: 4rem;
    margin-block: 2rem;
    align-self: flex-end;
    width: 50%;
}

#groupObj p {
    font-size: 1.25rem;
    align-self: flex-end;
    width: 50%;
}

#groupMem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

#groupMem h1 {
    font-size: 4rem;
    text-align: center;
    margin-block: 2rem;
    align-content: center;
    text-transform: uppercase;
}

.profileContainer {
    display: grid;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-template-rows: auto auto;
    background-color: rgb(97, 210, 214);
}

.profile {
    background-color: cadetblue;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    border-radius: 1rem;
    padding: 2rem;
}

.profile * {
    margin-inline: auto;
}

.pic {
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
}